.api-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: white;
    background-image: none;

    /* Full height */
    height: 100%; 
    padding-top: 90px;
}

.api-body .btn-primary {
    font-family: inherit;
    font-size: .875rem;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.125rem;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    text-transform: none;
    color: #fff;
    background-color: #0074d9;
    border-radius: 3px;
}

.api-body input {
    width: 50%;
    margin: 3px 7px;
}