/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px){
    .firstNavItem{
        font-size: 20px;
        margin: 0px;
        margin-left: 100px;
    }
    .secondNavItem{
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .navImage{
        width: 50px;
    }
    .firstNavItem{
        font-size: 20px;
        margin: 0px;
        margin-left: 100px;
    }
    .secondNavItem{
        font-size: 20px;
    }
    .mainH1{
        font-size: 30px;
    }
    .mainP{
       font-size: 20px;
    }
    .btn-v2.green{
        font-size: 20px;
    width: 10%;
    height: 10%;
    margin-left: 70px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navImage{

    }
    .firstNavItem{

    }
    .secondNavItem{

    }
    .mainH1{

    }
    .mainP{

    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .navImage{

    }
    .firstNavItem{
        margin-left: 30%;
    }
    .secondNavItem{

    }
    .mainH1{
        font-size: 80px;
    }
    .mainP{

    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .navImage{

    }
    .firstNavItem{

    }
    .secondNavItem{

    }
    .mainH1{

    }
    .mainP{

    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .navImage{

    }
    .firstNavItem {
        margin-left: 43%;
    }
    .secondNavItem{

    }
    .mainH1{

    }
    .mainP{

    }
}