.editProfileRow {
    margin-top: 10%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 530px) {
    .editProfileRow{
        margin-top: 20%;
      }
} 

@media only screen and (max-width: 720px) {
    .editProfileRow{
        margin-top: 18%;
      }
} 

/* .md-form{
    color: white;
}
.card-body{
    background-color: #1F2833;
}
#fileuploadinput{
    background-color: #1F2833;
}
#mdbinput{
    color:white;
}
.mb-5{
    color: white;
} */
