/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .userImgHome{
        width: 40px;
    }
    .pplNearYouUser{
        width: 40px;
    }
    .pChatReqUser{
        width: 40px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .userImgHome{
        width: 40px;
    }
    .pplNearYouUser{
        width: 40px;
    }
    .pChatReqUser{
        width: 40px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .userImgHome{
        width: 40px;
    }
    .pplNearYouUser{
        width: 40px;
    }
    .pChatReqUser{
        width: 40px;
    }
    .homeContainer{
        margin-top: 10%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .userImgHome{
        width: 90px;
    }
    .pplNearYouUser{
        width: 90px;
    }
    .pChatReqUser{
        width: 90px;
    }
}