.bottomRow{
    background-color: gray;
    height: 50px;
}
.homeContainer{
    box-shadow: 6px 7px 14px 0px #000000;
}

.container{
    margin-top: 7%;
}
.userImgCol{
    display: inline-flex;
    display: table-column-group;
}
h4{
    color: white;
}
.col{
    color: white;
}
h2{
    color: white;
    background: grey;
}
.firstRow{
    background: grey;
}
.userRow{
    background: lightgrey;
    border-bottom: 1px black solid;
}
.secondRow{
    background: gray;
}
.userSecondRow{
    background: lightgrey;
    border-bottom: 1px black solid;
}
